@charset "UTF-8";

:root{
    --color1: #49a09d;
    --color2: #5f2c82;
    --color3: #2d6462;
}

*{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: var(--color2);
    height: 100vh;
    width: 100vw;
}

main{
    height: 100vh;
    width: 100vw;
    position: relative;

}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.423);
    transition: width 0.2s, height 0.2s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

section#login > div#imagem{
    display: block;
    background: var(--color2) url(../imagens/imagem-fundo.jpg) no-repeat;
    background-size: cover;
    border-radius:20px 20px 0px 0px;
    height: 200px;
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p{
    font-size: 0.8em;
}

form > div.espaco{
    background-color: var(--color2);
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.espaco > label{
    display: none;
}

div.espaco > i{
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.espaco > input{
    background-color: #94cfcd;
    font-size: 1em;
    height: 100%;
    width: calc(100% - 45px);
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-12px);
}

div.espaco > input:focus-within{
    background-color: white;
}

form > input[type=submit]{
    display: block;
    font-size: 1.0em;
    width: 100%;
    height: 40px;
    background-color: var(--color1);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover{
    background-color: var(--color3);
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    padding-top: 5px;
    margin-top: 5px ;
    width: 100%;
    height: 40px;
    background-color: white;
    color: var(--color3);
    border: 1px solid var(--color3);
    border-radius: 7px;
    text-decoration: none;
}
form > a.botao:hover{
    background-color: #6cd3cf;
}
form > a.botao > i{
    font-size: 1em;
}